<% include ../header.ejs %>

    <div class="col-sm-12 col-md-8 col-md-offset-2" style="margin-top:10px;">
        <form action="" method="post" enctype="multipart/form-data" id="editForm">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <table class="table table-bordered">
                <tr>
                    <th>title</th>
                    <td><input type="text" name="name" class="form-control" value="<%=product.name%>"/></td>
                </tr>
                <tr>
                    <th>img</th>
                    <td>
                        <input type="file" name="thumbnail" />
                        <% if(product.thumbnail){ %>
                            <a href="/uploads/<%=product.thumbnail%>" target="_blank">업로드 이미지 보기</a>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>link</th>
                    <td><input type="text" name="url" class="form-control" placeholder="http://www.naver.com" value="<%=product.url%>"></input></td>
                </tr>
                <tr>
                    <th>시작일</th>
                    <td><input type="date" name="startDate" class="form-control" value="<%=product.startDate%>"></input></td>  
                </tr>
                <tr>
                    <th>마감일</th>
                    <td><input type="date" name="endDate" class="form-control" value="<%=product.endDate%>"></input></td>
                </tr>
                <tr>
                    <th>구분</th>
                    <td>
                        <select id="select" name="category" class="form-control"  value="<%=product.category%>">
                            <option value="NEW">NEW</option>
                            <option value="EVENT">EVENT</option>
                            <option value="SALE">SALE</option>
                        </select>
                    </td>
                    </tr>
                <tr>
                    <th>설명</th>
                    <td>
                        <textarea name="description" class="form-control" id="summernote" value="<%-product.description%>"></textarea>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary">작성하기</button>
        </form>
    </div>


<!-- 스타일관련 -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
<!-- 자바스크립트관련 -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
<!-- 한글관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>

<script>

$(document).ready(function(){

    $('#summernote').summernote({
        lang: 'ko-KR',
		height: 200,
		callbacks : {
			onImageUpload: function(files) {
                sendFile(files[0]);
			}
		}
    });

    $('#editForm').submit(function(){
        $('input[name=files]').remove();
    });
    
    function sendFile(file, editor, welEditable) {
		data = new FormData();
		data.append("thumbnail", file);
		$.ajax({
			data: data,
			type: "POST",
			url: '/admin/products/ajax_summernote/',
			cache: false,
			contentType: false,
			processData: false,
			success: function(url) {
				$('#summernote').summernote("insertImage", url);
			}
		});
    }
    
    function picker() {
        $('#datetimepicker1').datetimepicker();
    };

});
</script>

<% include ../footer.ejs %>