<% include ../header.ejs %>

<div class="detail-body">
    <div class="card mb-3" >
            <div class="content col-md-8 col-md-offset-2 col-sm-12">
                <div class="col-md-7 ">
                    <% if(product.thumbnail){%>
                        <p>
                            <img src="/uploads/<%=product.thumbnail%>" style="width: 100%"/>
                        </p>
                    <% } %>
                </div>
                <div class="description col-md-5">
                   <h3><%=product.name%></h3>
                   <p style="text-align: center;margin-bottom:30px;"><strong>마감일 : <%=product.getEndDate.year%> 년
                    <%=product.getEndDate.month%> 월
                    <%=product.getEndDate.day%> 일
                    </strong></p>
                    <div class="link">
                        <strong style="text-align: center;"><a href="<%=product.url%>" target="_blank"><p>방문하기<i class="fas fa-external-link-alt"></i></p></a></strong>
                    </div>
                    <%-product.description%>
               </div>
        </div>
    </div>
</div>
<% include ../footer.ejs %>


<script>
$(document).ready(function(){
    $('.CountBox a').click(function(event){
        event.preventDefault();
        //타입을 받아온다
        var type = $(this).attr('type');

        //현재 장바구니에 담을 갯수를 저장
        var cartNum = $('input[name=number]').val();

        //현재 제품의 가격표
        var price = $('input[name=price]').val();
        if(type==='minus'){ //+,- 냐에 따라 나눈다
            cartNum -= ( (cartNum==1) ? 0 : 1 ); //1이하로는 못내려가게 한다 
        }else if(type==='plus'){
            cartNum++; 
        }
        //input 태그에 반영 , html페이지 에도 반영
        $('input[name=number]').val(cartNum);
        $('#amountHtml').html(cartNum);
        $('input[name=amount]').val(cartNum * price);
        $('#priceHtml').html(cartNum * price);
        

    });

    $('#cartForm').submit(function(){
        if(confirm('장바구니에 담겠습니까?')){
            //장바구니에 담길 ID,사진,이름을 받는다
            var productId = <%=product.id%>;
            var thumbnail = "<%=product.thumbnail%>";
            var name = "<%=product.name%>";

            //갯수와 총량을 담는다.
            var number = $('input[name=number]').val();
            var amount = $('input[name=amount]').val();

            var cartList = {};
            var totalAmount = 0;
            if( getCookie('cartList') ){ 
                //쿠키에서 검색후 있으면 json 파싱함
                cartList = JSON.parse(getCookie('cartList'));
            }

            cartList[productId] = { 
                number : number , 
                amount : amount ,
                thumbnail : thumbnail,
                name : name,
            };
            
            // string으로 저장되는데 나중에 {}형식으로 받기위해 stringfy로 저장
            setCookieHour( "cartList" , JSON.stringify(cartList) , 3 );

            alert("장바구니에 담았습니다.");
        }

        return false;
    });

});

</script>

